.container{
    height: 40vh;
    width: 50vw;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.box{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    ;
}
.box:hover{
    transform:rotateZ(5deg) scale(2) skewX(4deg) translateX(50%);

}
